.tagline {
    font-weight: bold;
    font-size: 3rem;
    max-width: 800px;
    text-align: center;
    font-family: Montserrat;
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Tiro Gurmukhi', serif;
    /* font-style: italic; */
    margin: auto;
    margin-top: 1rem;
    line-height: 1.2;
    padding: 10px 20px 30px 20px;
}

.mainform-outer{
    /* background-color: #f16570; */
    /* border-radius: 40px; */
    /* height: 400px; */
    /* margin: 10px 30px; */
    /* display: flex; */
    /* align-items: center; */
    padding: 35px;
}

.mainform-inner{
    font-size: 1.2rem;
    background-color: white;
    border-radius: 40px;
    min-height: 175px;
    /* width: 80%; */
    z-index: 1;
    margin: auto;
    max-width: 950px;
    /* margin */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-around;
    flex-flow: wrap;
    padding: 20px;

    /* margin: 10px 30px; */
}
.mainform-inner>*{
    padding: 10px;
}

.destinationfield{
    outline: none;
    border: none;
    text-align: center;
    /* flex-grow: 1.1; */
    /* background-color: green; */
    /* flex-grow: 1; */
}

.searchicon{
    background: #f16570;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.datepicker-inner{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: #454648bd;
}

.searchLabel{
    font-weight: 600;
    color: #454648;
}

.main-footer{
    display: absolute;
    /* height: 100px; */
    /* background-image: url('../assets/carimage.jpg'); */
    /* background: black; */

}


.footer-image{
    /* width: 100%; */
    /* height: 100vh; */
    /* padding: 100px; */
    position: relative;
    bottom: 50px;
    max-width: 100%;
    max-height: 100%;
    transform: scale(4);

}